diskcache
python-dotenv
streamlit
streamlit-aggrid
stqdm
openai
tenacity
websocket
httpx
trio-websocket
pydantic
trio
av
streamlit_webrtc
audio_recorder_streamlit
SpeechRecognition
pyttsx3

# Dev
black
isort
