diskcache
python-dotenv
streamlit
streamlit-aggrid
stqdm
openai
tenacity
websocket
httpx
trio-websocket
pydantic
trio
streamlit_webrtc
azure-cognitiveservices-speech
audio_recorder_streamlit


# Dev
black
isort
